﻿@model HIMS.Service.CityMasterServices.Dto.CityMasterDto
<div class="modal fade" id="CityModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add/Edit City</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.Id)
                <div class="form-group m-form__group row">
                    <div class="col-lg">
                        @Html.Label("Country")<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        <select id="ddlCountry" name="ddlCountry" class="form-control m-bootstrap-select m_selectpicker" data_size="4"></select>
                        <label id="lblCountryError" class="text-danger"></label>
                    </div>
                    <div class="col-lg">
                        @Html.Label("State")<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        <select id="ddlState" name="ddlState" class="form-control m-bootstrap-select m_selectpicker" data_size="4"></select>
                        <label id="lblStateError" class="text-danger"></label>
                    </div>

                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg">
                        @Html.LabelFor(model => model.Citycode)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        @Html.EditorFor(model => model.Citycode, new { htmlAttributes = new { @class = "form-control m-input numberonly", @autocomplete = "off" } })
                        <label id="lblCitycodeError" class="text-danger"></label>
                    </div>
                    <div class="col-lg">
                        @Html.LabelFor(model => model.Cityname)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        @Html.EditorFor(model => model.Cityname, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        <label id="lblCitynameError" class="text-danger"></label>
                    </div>
                    <div class="col-lg">
                        @Html.Label("Status")
                        <select id="ddlActive" name="ddlActive" class="form-control m-bootstrap-select m_selectpicker" data_size="4"></select>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary" onclick="return IsValidCity();">Save</button>
            </div>
        </div>
    </div>
</div>
