﻿@model HIMS.Service.DoctorOPDServices.Dto.DoctorOPDDto
@{
    ViewBag.Title = "Index";
}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">Staff Master</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="@Url.Action("Index", "Home")" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    @Html.AntiForgeryToken()
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Doctor Scheduling
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                        @Html.LabelFor(model => model.DoctorId)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        @Html.DropDownListFor(model => model.DoctorId, ViewBag.Doctors as IEnumerable<SelectListItem>, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4", onchange = "updateDoctorScheduleDetail(this);" })
                        <label id="lblDoctorIdError" class="text-danger"></label>
                    </div>
                    <div class="col-lg-6">
                        @Html.LabelFor(model => model.WeekType)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        @Html.DropDownListFor(model => model.WeekType, ViewBag.WeekType as IEnumerable<SelectListItem>, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" , onchange = "fillTime(this);"})
                        <label id="lblWeekTypeError" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg-2">
                        @Html.LabelFor(model => model.MorningTimeFrom)
                        @Html.EditorFor(model => model.MorningTimeFrom, new { htmlAttributes = new { @class = "form-control m-input", autocomplete = "off", data_provide = "timepicker" } })
                    </div>
                    <div class="col-lg-2">
                        @Html.LabelFor(model => model.MorningTimeTo)
                        @Html.EditorFor(model => model.MorningTimeTo, new { htmlAttributes = new { @class = "form-control m-input", autocomplete = "off", data_provide = "timepicker" } })
                    </div>
                    <div class="col-lg-2">
                        @Html.LabelFor(model => model.AfterNoonTimeFrom)
                        @Html.EditorFor(model => model.AfterNoonTimeFrom, new { htmlAttributes = new { @class = "form-control m-input", autocomplete = "off", data_provide = "timepicker" } })
                    </div>
                    <div class="col-lg-2">
                        @Html.LabelFor(model => model.AfterNoonTimeTo)
                        @Html.EditorFor(model => model.AfterNoonTimeTo, new { htmlAttributes = new { @class = "form-control m-input", autocomplete = "off", data_provide = "timepicker" } })
                    </div>
                    <div class="col-lg-2">
                        @Html.LabelFor(model => model.EveningTimeFrom)
                        @Html.EditorFor(model => model.EveningTimeFrom, new { htmlAttributes = new { @class = "form-control m-input", autocomplete = "off", data_provide = "timepicker" } })
                    </div>
                    <div class="col-lg-2">
                        @Html.LabelFor(model => model.EveningTimeTo)
                        @Html.EditorFor(model => model.EveningTimeTo, new { htmlAttributes = new { @class = "form-control m-input", autocomplete = "off", data_provide = "timepicker" } })
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__group">
                        <div class="row">
                            <div class="col-lg-6">
                            </div>
                            <div class="col-lg-6 m--align-right">
                                <input id="btnSubmit" onclick="return IsValidDoctorSchedule();" value="Save" class="btn btn-primary m--margin-10" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divTable" class="form-group m-form__group row">
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/Scripts/DoctorOpdScheduler/Index.js")
}
