﻿@model HIMS.Service.VitalDataServices.Dto.VitalDataDto
<div class="modal fade" id="VitalDataModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add/Edit Vital Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.Id)
                <div class="form-group m-form__group row">
                    <div class="col-lg">
                        @Html.LabelFor(model => model.VitalCode)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        @Html.EditorFor(model => model.VitalCode, new { htmlAttributes = new { @class = "form-control m-input numberonly", @autocomplete = "off" } })
                        <label id="lblVitalDataCodeError" class="text-danger"></label>
                    </div>
                    <div class="col-lg">
                        @Html.LabelFor(model => model.VitalName)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        @Html.EditorFor(model => model.VitalName, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        <label id="lblVitalDataNameError" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg">
                        @Html.LabelFor(model => model.VitalUnit)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        @Html.EditorFor(model => model.VitalUnit, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        <label id="lblVitalDataUnitError" class="text-danger"></label>
                    </div>
                    <div class="col-lg">
                        <label>Status</label>
                        <select id="ddlActive" name="ddlActive" class="form-control m-bootstrap-select m_selectpicker" data_size="4">
                            <option value="Active">Active</option>
                            <option value="InActive">In Active</option>
                        </select>
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary" onclick="return IsValidVitalData();">Save</button>
            </div>
        </div>
    </div>
</div>
