﻿@model HIMS.Web.Models.Account.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/favicon.ico">
    <title>HIMS</title>

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!--end::Web font -->
    @Styles.Render("~/Bundles/Global-Css")
    <!-- view specific styles -->

</head>
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
            <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
                <div class="m-stack m-stack--hor m-stack--desktop">
                    <div class="m-stack__item m-stack__item--fluid">
                        <div class="m-login__wrapper">
                            <div class="m-login__logo">
                                <a href="#">
                                    <img src="~/images/logo.png" width="92" />
                                </a>
                            </div>
                            <div class="m-login__signin">
                                <div class="m-login__head">
                                    <h3 class="m-login__title">Sign In</h3>
                                </div>
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "LoginForm", @class = "m-login__form m-form", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group m-form__group">
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control m-input", placeholder = "Username", autocomplete = "off", autofocus = "autofocus" })
                                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group m-form__group password-eye">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control m-input", placeholder = "Password", autocomplete = "off", value = Model.Password })
                                        <i class="fa fa-eye"></i>
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="row m-login__form-sub"> 
                                        <div class="col m--align-right">
                                            @*<a href="javascript:;" id="m_login_forget_password" class="m-link font-weight-bold">Forget Password ?</a>*@
                                            @Html.ActionLink("Forgot Password ?", "ForgotPassword", "Index", new { @class = "m-link font-weight-bold" })
                                        </div>
                                    </div>
                                    <div class="m-login__form-action">
                                        <button id="LoginButton" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" type="submit">Sign In</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content m-grid-item--center" style="background-image: url('@Url.Content("/Theme/assets/app/media/img/bg/bg-4.png")');">
                
            </div>
        </div>
    </div>   @*Scripts and bundle*@

    @Scripts.Render("~/Bundles/Global-Js")
    @section scripts
{
        @if (TempData["UserMail"] != null)
        {
            <script type="text/javascript">Common.SucessToaster("@TempData["UserMail"]");</script>
            TempData["UserMail"] = null;
        }
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Theme/assets/vendors/base/vendors.bundle.js")
    @Scripts.Render("~/Scripts/Account/Register.js")
    <!-- end:: Page -->
    <style>
        .password-eye i {
            float: right;
            position: relative;
            top: -25px;
        }
    </style>
</body>
</html>

