﻿@model HIMS.Service.StateMasterServices.Dto.StateMasterDto
<div class="modal fade" id="StateModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add/Edit State</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.Id)
                <div class="form-group m-form__group row">
                    <div class="col-lg">
                        @Html.Label("Country")<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        <select id="ddlCountry" name="ddlCountry" class="form-control m-bootstrap-select m_selectpicker" data_size="4">
                        </select>
                        <label id="lblCountryError" class="text-danger"></label>
                    </div>
                    <div class="col-lg">
                        @Html.LabelFor(model => model.Statecode)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        @Html.EditorFor(model => model.Statecode, new { htmlAttributes = new { @class = "form-control m-input numberonly", @autocomplete = "off" } })
                        <label id="lblStatecodeError" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg">
                        @Html.LabelFor(model => model.Statename)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        @Html.EditorFor(model => model.Statename, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        <label id="lblStatenameError" class="text-danger"></label>
                    </div>
                    <div class="col-lg">
                        @Html.Label("Status")
                        <select id="ddlActive" name="ddlActive" class="form-control m-bootstrap-select m_selectpicker" data_size="4">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary" onclick="return IsValidState();">Save</button>
            </div>
        </div>
    </div>
</div>

