﻿@model HIMS.Service.PatientRegistrationServices.Dto.PatientRegistrationDto
@{
    ViewBag.Title = "Edit";
}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">Patient Registration</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="@Url.Action("Index", "Home")" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="@Url.Action("Index", "Patient")" class="m-nav__link">
                            <span class="m-nav__link-text">Patient Registration</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    @using (Html.BeginForm("Edit", "Patient", FormMethod.Post, new { @class = "m-form m-form--fit m--margin-bottom-20", role = "form", @id = "EditPatient", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Update Patient
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.Addedby)
                    @Html.HiddenFor(m => m.Addeddate)
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.IdCardNo)
                            @Html.EditorFor(model => model.IdCardNo, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Regdate)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                            @Html.EditorFor(model => model.Regdate, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off", data_provide = "datepicker", Value = Model.Regdate.HasValue ? Model.Regdate.Value.ToString("MM/dd/yyyy") : DateTime.Now.ToString("MM/dd/yyyy") } })
                            @Html.ValidationMessageFor(model => model.Regdate, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-2">
                            @Html.LabelFor(model => model.Regtime)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                            @Html.EditorFor(model => model.Regtime, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off", data_provide = "timepicker", Value = Model.Regtime.HasValue ? Model.Regtime.Value.ToString("h:mm tt") : DateTime.Now.ToString("h:mm tt") } })
                            @Html.ValidationMessageFor(model => model.Regtime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-2">
                            @Html.LabelFor(model => model.Prefix)
                            @Html.DropDownListFor(model => model.Prefix, ViewBag.Prefix as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.FirstName)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.MiddleName)
                            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.LastName)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-4">
                            @Html.LabelFor(model => model.BirthDate)
                            @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off", data_provide = "datepicker" } })
                            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.AgeYears)
                            @Html.EditorFor(model => model.AgeYears, new { htmlAttributes = new { @class = "form-control m-input numberonly", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.AgeMonths)
                            @Html.EditorFor(model => model.AgeMonths, new { htmlAttributes = new { @class = "form-control m-input numberonly", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.AgeDays)
                            @Html.EditorFor(model => model.AgeDays, new { htmlAttributes = new { @class = "form-control m-input numberonly", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Gender)
                            @Html.DropDownListFor(model => model.Gender, ViewBag.Gender as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Bloodgroup)
                            @Html.DropDownListFor(model => model.Bloodgroup, ViewBag.BloodGroup as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.MaritalStatus)
                            @Html.DropDownListFor(model => model.MaritalStatus, ViewBag.MaritalStatus as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                        </div>

                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Nationality)
                            @Html.DropDownListFor(model => model.Nationality, ViewBag.Nationality as SelectList, new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Occupation)
                            @Html.DropDownListFor(model => model.Occupation, ViewBag.Occupation as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Refbyid)
                            @Html.DropDownListFor(model => model.Refbyid, ViewBag.ReferredBy as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4", data_live_search = true })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Address1)
                            @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Address2)
                            @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Address3)
                            @Html.EditorFor(model => model.Address3, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Countryid)
                            @Html.DropDownListFor(model => model.Countryid, ViewBag.Country as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4", data_live_search = true })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Stateid)
                            @Html.DropDownListFor(model => model.Stateid, ViewBag.State as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4", data_live_search = true })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Cityid)
                            @Html.DropDownListFor(model => model.Cityid, ViewBag.City as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4", data_live_search = true })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Pincode)
                            @Html.EditorFor(model => model.Pincode, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Mobileno)
                            @Html.EditorFor(model => model.Mobileno, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Contact)
                            @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Emailid)
                            @Html.EditorFor(model => model.Emailid, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Website)
                            @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Allergydtls)
                            @Html.EditorFor(model => model.Allergydtls, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Spnotes)
                            @Html.EditorFor(model => model.Spnotes, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            <div class="m-input-icon m-input-icon--left">
                                @Html.HiddenFor(m => m.Patimage)
                                @if (Model != null)
                                {
                                    if (Model.Patimage.Length > 0)
                                    {
                                        var base64 = Convert.ToBase64String(Model.Patimage);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        <img id="imgProfilePhoto" src="@imgSrc" width="200" height="200" style="display:block;" />
                                    }
                                    else
                                    {
                                        <img id="imgProfilePhoto" width="200" height="200" style="display:none;" />
                                    }
                                }
                            </div>
                            <br /><br />
                            <a href="javascript:void(0)" onclick="document.getElementById('ProfilePhoto').click();" class="btn btn-primary m-btn m-btn--icon">
                                <span>
                                    <i class="fa fa-plus"></i>
                                    <span>Profile Photo</span>
                                    <span class="btn-file">
                                        @Html.TextBoxFor(m => m.ProfilePhoto, new { type = "file", name = "file", accept = "image/*", onchange = "loadFrontImage(event)", @class = "hidden" })
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg">
                            @Html.Label("Status")
                            @Html.DropDownListFor(model => model.Recstatus, ViewBag.Status as IEnumerable<SelectListItem>, new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__group">
                            <div class="row">
                                <div class="col-lg-6">
                                </div>
                                <div class="col-lg-6 m--align-right">
                                    <input type="button" value="Cancel" class="btn btn-default" onclick="window.location='@Url.Action("Index","Patient")'" />
                                    <input id="btnSubmit" type="submit" value="Save" class="btn btn-primary m--margin-10" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/Patient/Create.js")
}