﻿@model HIMS.Service.RemarkServices.Dto.RemarkDto
<div class="modal fade" id="RemarkModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add/Edit  Remark</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.Id)
                <div class="form-group m-form__group row">
                    <div class="col-lg">
                        @Html.LabelFor(model => model.RemarkCode)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        @Html.EditorFor(model => model.RemarkCode, new { htmlAttributes = new { @class = "form-control m-input numberonly", @autocomplete = "off" } })
                        <label id="lblWorktypeCodeError" class="text-danger"></label>
                    </div>
                    <div class="col-lg">
                        <label>Remark For</label>
                        <select id="ddlRemarkFor" name="ddlRemarkFor" class="form-control m-bootstrap-select m_selectpicker" data_size="4"></select>
                        <label id="lblRemarkForError" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg">
                        @Html.LabelFor(model => model.RemarkName)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        @Html.EditorFor(model => model.RemarkName, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        <label id="lblWorktypeCodeError" class="text-danger"></label>
                    </div>
                </div> 
                <div class="form-group m-form__group row">
                    <div class="col-lg">
                        @Html.LabelFor(model => model.Hinremarks)
                        @Html.EditorFor(model => model.Hinremarks, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        <label id="lblWorktypeCodeError" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg">
                        @Html.LabelFor(model => model.Gujremarks)
                        @Html.EditorFor(model => model.Gujremarks, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        <label id="lblWorktypeCodeError" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg">
                        @Html.LabelFor(model => model.Marremarks)
                        @Html.EditorFor(model => model.Marremarks, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        <label id="lblWorktypeCodeError" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg">
                        <label>Status</label>
                        <select id="ddlActive" name="ddlActive" class="form-control m-bootstrap-select m_selectpicker" data_size="4">
                            <option value="Active">Active</option>
                            <option value="InActive">In Active</option>
                        </select>
                    </div>
                    <div class="col-lg"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary" onclick="return IsValidRemark();">Save</button>
            </div>
        </div>
    </div>
</div>
