﻿@model HIMS.Service.WorkTypeServices.Dto.WorkTypeDto
<div class="modal fade" id="WorkTypeModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add/Edit  Work Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.Id)
                <div class="form-group m-form__group row">
                    <div class="col-lg">
                        @Html.LabelFor(model => model.WorktypeCode)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        @Html.EditorFor(model => model.WorktypeCode, new { htmlAttributes = new { @class = "form-control m-input numberonly", @autocomplete = "off" } })
                        <label id="lblWorktypeCodeError" class="text-danger"></label>
                    </div>
                    <div class="col-lg">
                        @Html.LabelFor(model => model.WorktypeName)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                        @Html.EditorFor(model => model.WorktypeName, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        <label id="lblWorktypeNameError" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg">
                        <select id="ddlActive" name="ddlActive" class="form-control m-bootstrap-select m_selectpicker" data_size="4">
                            <option value="Active">Active</option>
                            <option value="InActive">In Active</option>
                        </select>
                    </div>
                    <div class="col-lg"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary" onclick="return IsValidWorkType();">Save</button>
            </div>
        </div>
    </div>
</div>
