/* test-specification css */

.group-no {
    background: #0545A2;
    color: #fff;
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    border-radius: 50%;
    line-height: 30px !important;
    display: block;
    margin-bottom: 10px;
}

#TestLabTitleId-error {
    color: #f4516c !important;
    position: absolute;
    padding-top: 50px;
}
.testgroup-no {
    width: 90px;
    height: 30px;
    float: left;
    text-align: center;
    font-weight: bold;
    line-height: 30px !important;
    display: block;
    margin-bottom: 10px;
}

.list-span span {
    line-height: 22px;
    font-size: 12px;
}

.active-class .active {
    background: #F1F4FA;
}

.list-span {
    padding: 6px !important;
    border-bottom: 1px solid #F1F2F5;
}

.edit-copy i {
    font-size: 25px;
}

.total-groups {
    font-size: 15px;
}

.margin-right {
    margin-right: 10px;
}

.seq-id-size span {
    font-size: 15px;
    line-height: 28px;
}

.list-seq {
    padding: 0px 15px !important;
}

    .list-seq .active {
        background: #F1F4FA;
    }

    .list-seq .row {
        padding-top: 5px;
    }

.color-theme {
    background: #0545A2;
    box-shadow: 1px 2px 8px 0px #0545a2;
}

.test-sequesnce .row {
    padding: 10px 20px;
}

.seq-id-size span {
    color: #565862;
}


/* PCB Details css */


@media (min-width: 1024px) {
    .m-portlet__head-title h3 {
        font-size: 14px !important;
        padding: 10px !important;
    }

    .edit-btn {
        float: right !important;
    }

    .m-portlet__head-icon {
        font-size: 12px !important;
    }
}

@media (min-width: 768px) {
    .m-portlet__head-title h3 {
        font-size: 14px !important;
        padding: 10px !important;
    }

    .edit-btn {
        float: right !important;
    }

    .m-portlet__head-icon {
        font-size: 12px !important;
    }
}

.dataTables_length select {
    background-color: #F4F5F8;
    width: 100px !important;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    padding: 10px 20px;
    height: calc(2.6125rem + 2px);
    position: relative;
}

@media (min-width: 767px) {
    .m-portlet__head-title h3 {
        padding: 10px !important;
    }

    .edit-btn {
        float: right !important;
    }

    .m-portlet__head-icon {
        font-size: 12px !important;
    }
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type = "number"] {
    -moz-appearance: textfield;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        cursor: inherit;
        display: block;
    }

/*----------Scrollbar Style--------------*/
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bbb;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.remove-padding{
    padding-right:0px !important; 
}
label {
    word-break: break-word;
}

/* custom css*/

.form-control.form-control-unset-height {
    height:unset !important;
}