﻿@model HIMS.Service.StaffServices.Dto.StaffCreateDto

@{
    ViewBag.Title = "Create";
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">Staff Master</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="@Url.Action("Index", "Home")" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="@Url.Action("Index", "Staff")" class="m-nav__link">
                            <span class="m-nav__link-text">Staff Master</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->

    @using (Html.BeginForm("Create", "Staff", FormMethod.Post, new { @class = "m-form m-form--fit m--margin-bottom-20", role = "form", @id = "CreateStaff", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Add Staff
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.ProfPhoto)
                            @Html.HiddenFor(model => model.StaffSign)
                            @Html.LabelFor(model => model.StaffType)
                            @Html.DropDownListFor(model => model.StaffType, ViewBag.SaffType as IEnumerable<SelectListItem>, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                            @Html.ValidationMessageFor(model => model.StaffType, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.StaffCode)
                            @Html.EditorFor(model => model.StaffCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StaffCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-2">
                            @Html.LabelFor(model => model.Prefix)
                            @Html.DropDownListFor(model => model.Prefix, ViewBag.Prefix as IEnumerable<SelectListItem>, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                            @Html.ValidationMessageFor(model => model.Prefix, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.FirstName)
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.MiddleName)
                            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.LastName)
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-4">
                            @Html.LabelFor(model => model.BirthDate)
                            @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control m-input", autocomplete = "off", data_provide = "datepicker" } })
                            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.AgeYears)
                            @Html.EditorFor(model => model.AgeYears, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AgeYears, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.AgeMonths)
                            @Html.EditorFor(model => model.AgeMonths, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AgeMonths, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.AgeDays)
                            @Html.EditorFor(model => model.AgeDays, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AgeDays, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Gender)
                            @Html.DropDownListFor(model => model.Gender, ViewBag.Gender as IEnumerable<SelectListItem>, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.BloodGroup)
                            @Html.DropDownListFor(model => model.BloodGroup, ViewBag.BloodGroup as IEnumerable<SelectListItem>, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                            @Html.ValidationMessageFor(model => model.BloodGroup, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.DeptId)
                            @Html.DropDownListFor(model => model.DeptId, ViewBag.Department as IEnumerable<SelectListItem>, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                            @Html.ValidationMessageFor(model => model.DeptId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.DesigId)
                            @Html.DropDownListFor(model => model.DesigId, ViewBag.Designation as IEnumerable<SelectListItem>, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                            @Html.ValidationMessageFor(model => model.DesigId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.SpeclId)
                            @Html.DropDownListFor(model => model.SpeclId, ViewBag.Speciality as IEnumerable<SelectListItem>, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                            @Html.ValidationMessageFor(model => model.SpeclId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.RegNo)
                            @Html.EditorFor(model => model.RegNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Address1)
                            @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Address2)
                            @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Address3)
                            @Html.EditorFor(model => model.Address3, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.CountryId)
                            @Html.DropDownListFor(model => model.CountryId, ViewBag.Country as IEnumerable<SelectListItem>, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                            @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.StateId)
                            @Html.DropDownListFor(model => model.StateId, ViewBag.State as IEnumerable<SelectListItem>, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                            @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.CityId)
                            @Html.DropDownListFor(model => model.CityId, ViewBag.City as IEnumerable<SelectListItem>, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                            @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.PinCode)
                            @Html.EditorFor(model => model.PinCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PinCode, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.StdCode)
                            @Html.EditorFor(model => model.StdCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StdCode, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.PhoneNo)
                            @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.MobileNo)
                            @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.ContactNo)
                            @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.EmailId)
                            @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Website)
                            @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.PanNo)
                            @Html.EditorFor(model => model.PanNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PanNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.GstNo)
                            @Html.EditorFor(model => model.GstNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GstNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <div class="m-input-icon m-input-icon--left">
                                @Html.HiddenFor(m => m.StaffSign)
                                @if (Model != null)
                                {
                                    if (Model.StaffSign.Length > 0)
                                    {
                                        var base64 = Convert.ToBase64String(Model.StaffSign);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        <img id="StaffSignFileImg" src="@imgSrc" width="200" height="200" style="display:block;" />
                                    }
                                    else
                                    {
                                        <img id="StaffSignFileImg" width="200" height="200" style="display:none;" />
                                    }
                                }
                            </div>
                            <br /><br />
                            <a href="javascript:void(0)" onclick="document.getElementById('StaffSignFile').click();" class="btn btn-primary m-btn m-btn--icon">
                                <span>
                                    <i class="fa fa-plus"></i>
                                    <span>Staff Sign</span>
                                    <span class="btn-file">
                                        @Html.TextBoxFor(m => m.StaffSignFile, new { type = "file", name = "file", accept = "image/*", onchange = "loadFrontImage(event)", @class = "hidden" })
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <div class="m-input-icon m-input-icon--left">
                                @Html.HiddenFor(m => m.ProfPhoto)
                                @if (Model != null)
                                {
                                    if (Model.ProfPhoto.Length > 0)
                                    {
                                        var base64 = Convert.ToBase64String(Model.ProfPhoto);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        <img id="ProfilePhotoFileImg" src="@imgSrc" width="200" height="200" style="display:block;" />
                                    }
                                    else
                                    {
                                        <img id="ProfilePhotoFileImg" width="200" height="200" style="display:none;" />
                                    }
                                }
                            </div>
                            <br /><br />
                            <a href="javascript:void(0)" onclick="document.getElementById('ProfilePhotoFile').click();" class="btn btn-primary m-btn m-btn--icon">
                                <span>
                                    <i class="fa fa-plus"></i>
                                    <span>Staff Photo</span>
                                    <span class="btn-file">
                                        @Html.TextBoxFor(m => m.ProfilePhotoFile, new { type = "file", name = "file", accept = "image/*", onchange = "loadBackImage(event)", @class = "hidden" })
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Recstatus)
                            @Html.DropDownListFor(model => model.Recstatus, ViewBag.Status as IEnumerable<SelectListItem>, new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                            @Html.ValidationMessageFor(model => model.Recstatus, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg"></div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__group">
                            <div class="row">
                                <div class="col-lg-6">
                                </div>
                                <div class="col-lg-6 m--align-right">
                                    <input type="button" value="Cancel" class="btn btn-default" onclick="window.location='@Url.Action("Index","Staff")'" />
                                    <input id="btnSubmit" type="submit" value="Save" class="btn btn-primary m--margin-10" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/Staff/Create.js")
}