﻿<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general m-stack--fluid">
    <div class="m-stack__item m-topbar__nav-wrapper">
        <ul class="m-topbar__nav m-nav m-nav--inline">
            @*<li class="m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light	m-list-search m-list-search--skin-light" m-dropdown-toggle="click" id="m_quicksearch"
                    m-quicksearch-mode="dropdown" m-dropdown-persistent="1">
                    <a href="#" class="m-nav__link m-dropdown__toggle">
                        <span class="m-nav__link-icon"><i class="flaticon-search-1"></i></span>
                    </a>
                    <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                        <div class="m-dropdown__inner ">
                            <div class="m-dropdown__header">
                                <form class="m-list-search__form">
                                    <div class="m-list-search__form-wrapper">
                                        <span class="m-list-search__form-input-wrapper">
                                            <input id="m_quicksearch_input" autocomplete="off" type="text" name="q" class="m-list-search__form-input" value="" placeholder="Search...">
                                        </span>
                                        <span class="m-list-search__form-icon-close" id="m_quicksearch_close">
                                            <i class="la la-remove"></i>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__scrollable m-scrollable" data-scrollable="true" data-height="300" data-mobile-height="200">
                                    <div class="m-dropdown__content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>*@
            @*<li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--medium m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right 	m-dropdown--mobile-full-width" m-dropdown-toggle="click"
                m-dropdown-persistent="0">
                <a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
                    <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger" id="Notificationalert"></span>
                    <span class="m-nav__link-badge"><span class="m-badge m-badge--danger" id="NotificationUnreadCount"></span></span>
                    <span class="m-nav__link-icon"><i class="flaticon-alarm"></i></span>
                </a>
                <div class="m-dropdown__wrapper" id="divNotification">
                </div>
            </li>*@
            <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                m-dropdown-toggle="click">
                <a href="#" class="m-nav__link m-dropdown__toggle">
                    <span class="m-topbar__userpic">
                        @*<img src="../../images/user.png" class="m--img-rounded m--marginless" alt="" />*@
                        <i class="fa fa-user-circle fa-3x"></i>
                    </span>
                    <span class="m-topbar__username m--hide"></span>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__header m--align-center" style="background: url('@Url.Content("/Theme/assets/app/media/img/bg/bg-4.png")'); background-size: cover;">
                            <div class="m-card-user m-card-user--skin-dark">
                                <div class="m-card-user__pic">
                                    @*<img src="../../images/user.png" class="m--img-rounded m--marginless" alt="" />*@
                                    <i class="fa fa-user-circle fa-3x"></i>
                                </div>
                                <div class="m-card-user__details">
                                    <span class="m-card-user__name m--font-bolder">@User.Identity.Name</span>
                                    <a href="" class="m-card-user__email m--font-weight-300 m-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav m-nav--skin-light">
                                    <li class="m-nav__section m--hide">
                                        <span class="m-nav__section-text">Section</span>
                                    </li>
                                    <li class="m-nav__item">
                                    <li class="m-nav__item">

                                        <a class="m-nav__link"  onclick="resetModelShow()" style="cursor: pointer;">
                                            
                                            <i class="fa fa-key m--margin-10"></i>
                                            <span class="m-menu__link-title">
                                                <span class="m-menu__link-wrap">
                                                    <span class="m-menu__link-text">Update Password</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit">
                                    </li>
                                    <li class="m-nav__item">
                                        @*<a href="@Url.Action("LogOff", "Account")" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">Logout</a>*@
                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    }
}
<script>
    function clearModel() {
        document.getElementById('currentPassword').innerHTML = "";
        document.getElementById('newPassword').innerHTML = "";
        document.getElementById('confirmPassword').innerHTML = "";
        document.getElementById('ValidationErrorModelNewPassword').innerHTML = "";
        document.getElementById('ValidationErrorModelConfirmPassword').innerHTML = "";
        document.getElementById('ValidationErrorModelCurrentPassword').innerHTML = "";
    }
</script>

