﻿@model HIMS.Service.ReferanceServices.Dto.ReferanceDto
@{
    ViewBag.Title = "Create";
}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">Reference Master</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="@Url.Action("Index", "Home")" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="@Url.Action("Index", "Referance")" class="m-nav__link">
                            <span class="m-nav__link-text">Reference Master</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->

    @using (Html.BeginForm("Create", "Referance", FormMethod.Post, new { @class = "m-form m-form--fit m--margin-bottom-20", role = "form", @id = "CreateReferance", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Add Reference
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Reftype)
                            @Html.DropDownListFor(model => model.Reftype, ViewBag.ReferenceType as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Refcode)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                            @Html.EditorFor(model => model.Refcode, new { htmlAttributes = new { @class = "form-control m-input numberonly", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Refcode, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-6">
                            @Html.LabelFor(model => model.Refname)<span class="m--margin-left-5 m--icon-font-size-sm2 text-danger">*</span>
                            @Html.EditorFor(model => model.Refname, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Refname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-4">
                            @Html.LabelFor(model => model.BirthDate)
                            @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off", data_provide = "datepicker" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.AgeYears)
                            @Html.EditorFor(model => model.AgeYears, new { htmlAttributes = new { @class = "form-control m-input numberonly", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.AgeMonths)
                            @Html.EditorFor(model => model.AgeMonths, new { htmlAttributes = new { @class = "form-control m-input numberonly", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.AgeDays)
                            @Html.EditorFor(model => model.AgeDays, new { htmlAttributes = new { @class = "form-control m-input numberonly", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Gender)
                            @Html.DropDownListFor(model => model.Gender, ViewBag.Gender as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.BloodGroup)
                            @Html.DropDownListFor(model => model.BloodGroup, ViewBag.BloodGroup as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Speclid)&nbsp;&nbsp;<a class="btn btn-group"><i class="fa fa-plus"></i></a>
                            @Html.DropDownListFor(model => model.Speclid, ViewBag.Speciality as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4", data_live_search = true })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Address1)
                            @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Address2)
                            @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Address3)
                            @Html.EditorFor(model => model.Address3, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.CityId)&nbsp;&nbsp;<a class="btn btn-group"><i class="fa fa-plus"></i></a>
                            @Html.DropDownListFor(model => model.CityId, ViewBag.City as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4", data_live_search = true })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.StateId)&nbsp;&nbsp;<a class="btn btn-group"><i class="fa fa-plus"></i></a>
                            @Html.DropDownListFor(model => model.StateId, ViewBag.State as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4", data_live_search = true })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Statecode)
                            @Html.EditorFor(model => model.Statecode, new { htmlAttributes = new { @class = "form-control m-input numberonly", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.CountryId)&nbsp;&nbsp;<a class="btn btn-group"><i class="fa fa-plus"></i></a>
                            @Html.DropDownListFor(model => model.CountryId, ViewBag.Country as SelectList, "Select", new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4", data_live_search = true })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Pincode)
                            @Html.EditorFor(model => model.Pincode, new { htmlAttributes = new { @class = "form-control m-input numberonly", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Mobileno)
                            @Html.EditorFor(model => model.Mobileno, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.ContactNo)
                            @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Emailid)
                            @Html.EditorFor(model => model.Emailid, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.Website)
                            @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            @Html.LabelFor(model => model.GstNo)
                            @Html.EditorFor(model => model.GstNo, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                        <div class="col-lg">
                            @Html.LabelFor(model => model.PanNo)
                            @Html.EditorFor(model => model.PanNo, new { htmlAttributes = new { @class = "form-control m-input", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg">
                            <div class="m-input-icon m-input-icon--left">
                                <img id="StaffSignFileImg" width="200" height="200" style="display:none;" />
                            </div>
                            <br /><br />
                            <a href="javascript:void(0)" onclick="document.getElementById('RefSignFile').click();" class="btn btn-primary m-btn m-btn--icon">
                                <span>
                                    <i class="fa fa-plus"></i>
                                    <span>Reference Sign</span>
                                    <span class="btn-file">
                                        @Html.TextBoxFor(m => m.RefSignFile, new { type = "file", name = "file", accept = "image/*", onchange = "loadFrontImage(event)", @class = "hidden" })
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg">
                            @Html.Label("Status")
                            @Html.DropDownListFor(model => model.Recstatus, ViewBag.Status as SelectList, new { @class = "form-control m-bootstrap-select m_selectpicker", data_size = "4" })
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__group">
                            <div class="row">
                                <div class="col-lg-6">
                                </div>
                                <div class="col-lg-6 m--align-right">
                                    <input type="button" value="Cancel" class="btn btn-default" onclick="window.location='@Url.Action("Index","Referance")'" />
                                    <input id="btnSubmit" type="submit" value="Save" class="btn btn-primary m--margin-10" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/Reference/Create.js")
}