﻿@{
    ViewBag.Title = "Index";
}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">TieUp</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="@Url.Action("Index", "Home")" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            TieUp List
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <div class="m-portlet__head-caption">
                        <div class="align-right">
                            <a href="@Url.Action("Create", "TieUp")" class="btn m-btn--pill btn-primary m-btn m-btn--custom">
                                <i class="fa fa-plus"></i>&nbsp; TieUp
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <!--begin: Search Form -->
                <div class="m-form m-form--fit m--margin-bottom-20">
                    <div class="row m--margin-bottom-20">
                        <div class="col-lg m--margin-bottom-10-tablet-and-mobile">
                            <label>Search</label>
                            <input id="txtSearch" name="Search" type="text" class="form-control m-input" placeholder="Search" data-col-index="0" autocomplete="off">
                        </div>
                    </div>
                </div>
                <!--begin: Datatable -->
                <table class="table table-striped- table-bordered table-hover table-checkable table-striped responsive no-wrap" id="tblTieUps">
                    <thead>
                        <tr> 
                            <th>Company Name</th>
                            <th>Contact Person</th>
                            <th>Mobile</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/Scripts/TieUp/Index.js")
}
